text-overlay {
    top: 50%
}

.subscription-item {
    height: calc(100vh - 52px);
}

.subscription-item a {
    background: white;
    padding: 16px;
    list-style: none;    
    display: inline-block;
    margin: 16px;
    width: 20%;
    border: 1px solid #000;
    word-wrap: break-word;
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    color: #000;
}

/*.subscription-item li:hover {
    border-color: #00d1b2;
}*/

.subscription-item a:hover {
    color: #00d1b2;
    border-color: #00d1b2;
}

.subscription-item li a {
    color: #000;
}

@media (max-width: 768px) {
    .subscription-item {
        padding: 16px;
    }
    
    .subscription-item a {
        width: 100%;
        margin: 0;
    }

    .subscription-item a+a {
        margin-top: 16px;
    }
}